<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/Styles.css" rel="stylesheet" />
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
	<div>
		@RenderBody()
	</div>
	<footer>
		<div>Copyright &copy; 2015 Megselv</div>
	</footer>
	<script src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

	@RenderSection("scripts", false)
</body>
</html>
