<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>
	<div>
		@RenderBody()
	</div>
	<footer>
		<div>Copyright &copy; 2015 Megselv</div>

	</footer>
</body>
</html>
