@using MovieDAL
@model IEnumerable<Movie>


	<h1>Liste over @Model.Count() filmer</h1>

	<ul>
		@foreach (var movie in Model)
		{
			<li>
				@Html.ActionLink(movie.Title, "Details", "Movie", new { id=movie.MovieId }, new { @class = "some-css-class" })
			</li>
		}
	</ul>
