@model IEnumerable<Movie>
@{
	ViewBag.Title = ViewBag.Genre ?? "Liste over filmer";
}


<h2>Liste over filmer</h2>
<h3>@ViewBag.Genre</h3>

<ul>
@foreach (var movie in Model.OrderBy(m => m.Title))
{
	<li>
		@Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId }, new { @class = "some-css-class" })
	</li>
}
</ul>
