@using MovieDAL
@model IEnumerable<Movie>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<h1>Liste over @Model.Count filmer</h1>
	
	<ul>
	@foreach (var movie in Model)
	{
		<li>@movie.Title</li>
	}
	</ul>
</body>
</html>
